@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuisseInt'l";
  font-weight: 600;
  src: url('/fonts/SuisseIntl-SemiBold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
